VideoSynchroniser/VideoPlayer/Connected Services/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8523/VideoSynchroniser/service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoSynchroniserService.WCF" />
  <xs:import schemaLocation="http://localhost:8523/VideoSynchroniser/service/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="RetrieveMediaItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMediaItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoSynchroniserService.WCF" minOccurs="0" name="RetrieveMediaItemsResult" nillable="true" type="q1:ArrayOfMediaItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenTransferStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoSynchroniserService.WCF" minOccurs="0" name="item" nillable="true" type="q2:MediaItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenTransferStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="OpenTransferStreamResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>