VideoSynchroniser/VideoPlayer/Connected Services/ServiceReference/MediaSupplier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediaSupplier" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8523/VideoSynchroniser/service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8523/VideoSynchroniser/service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8523/VideoSynchroniser/service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Media" />
      <xsd:import schemaLocation="http://localhost:8523/VideoSynchroniser/service/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMediaSupplier_RetrieveMediaItems_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMediaItems" />
  </wsdl:message>
  <wsdl:message name="IMediaSupplier_RetrieveMediaItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMediaItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaSupplier_OpenTransferStream_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenTransferStream" />
  </wsdl:message>
  <wsdl:message name="IMediaSupplier_OpenTransferStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenTransferStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IMediaSupplier">
    <wsdl:operation name="RetrieveMediaItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaSupplier/RetrieveMediaItems" message="tns:IMediaSupplier_RetrieveMediaItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaSupplier/RetrieveMediaItemsResponse" message="tns:IMediaSupplier_RetrieveMediaItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenTransferStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaSupplier/OpenTransferStream" message="tns:IMediaSupplier_OpenTransferStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaSupplier/OpenTransferStreamResponse" message="tns:IMediaSupplier_OpenTransferStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMediaSupplier" type="tns:IMediaSupplier">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveMediaItems">
      <soap:operation soapAction="http://tempuri.org/IMediaSupplier/RetrieveMediaItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenTransferStream">
      <soap:operation soapAction="http://tempuri.org/IMediaSupplier/OpenTransferStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaSupplier">
    <wsdl:port name="BasicHttpBinding_IMediaSupplier" binding="tns:BasicHttpBinding_IMediaSupplier">
      <soap:address location="http://localhost:8523/VideoSynchroniser/service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>